.containerPew .header img{
    position: absolute;
    width: 5vw;
    top: 10%;
    left: 8%;
    object-fit: contain;
}

.containerPew .header h1{
    position: absolute;
    color: white;
    top: 20%;
    left: 5%;
    font-family: mom;
    font-size: 100%;
    font-size: 3vw;
  
  
  }

.containerPew .header {
    position: absolute;
    width: 100%;
    height: 6vw;
    background: rgba(0, 0, 0, 0.5);
    top: -1%;
}

.containerPew{
    position: relative;
    background-color: black;
    height: 125px;
}

canvas {
  position:fixed;
  top: 125px;
}